<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="autor" content="Студия КИТ"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <link rel="manifest" href="img/favicon/site.webmanifest">
  <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#ffffff">
  <title><%= data.title %></title>
</head>
<body>

  <!-- Прелоадер -->

  <div class="preloader flex align-center justify-center fixed zi-9 bg-white w-100 h-100 duration-3" data-preloader>
    <div class="loading">
      <div class="loading-circle"></div>
    </div>
  </div>

  <!-- Шапка документа -->

  <header class="header container flex align-center justify-between gap-3 gap-md-5 relative zi-4 bg-white border-bottom py-2 py-md-3 py-lg-6 linear duration-3" data-header>
    <button class="btn btn--primary d-lg-none text-44 radius-1" data-burger data-waved>
      <svg class="icon">
        <use xlink:href="img/icons.svg#burger">
      </svg>
    </button>
    <a class="btn btn--second color-primary text-24 text-md-30 radius-1" data-waved href="/">
      <span class="header__logo flex align-center justify-center relative mr-md-3">
        <svg class="header__icon icon relative zi-1 zoom-2">
          <use xlink:href="img/icons.svg#logo">
        </svg>
      </span>
      <span class="d-none d-md-inline text text--uppercase text--left text-12 bold-6 lh-4">
        ЦЕНТР <br>
        Профессиональной<br>
        Стоматологии
      </span>
    </a>
    <div class="d-none d-lg-flex align-center">
      <div class="header__circle flex align-center justify-center relative icon bg-second gradient color-white text-32 radius-max mr-3">
        <span class="header__shadow d-none icon absolute bg-white text-32 fade-20 radius-max"></span>
        <svg class="icon relative text-20">
          <use xlink:href="img/icons.svg#geo">
        </svg>
      </div>
      <div class="flex flex-column">
        <span class="text-14 bold-5 fade-60 mb-1">Адрес</span>
        <span class="text-14 bold-7">ул. Минская 122/9</span>
      </div>
    </div>
    <div class="d-none d-lg-flex align-center">
      <div class="header__circle flex align-center justify-center relative icon bg-second gradient color-white text-32 radius-max mr-3">
        <span class="header__shadow d-none icon absolute bg-white text-32 fade-20 radius-max"></span>
        <svg class="icon relative text-20">
          <use xlink:href="img/icons.svg#clock">
        </svg>
      </div>
      <div class="flex flex-column">
        <span class="text-14 bold-5 fade-60 mb-1">Режим работы</span>
        <span class="text-14 bold-7">с 8:00 до 20:00</span>
      </div>
    </div>
    <a class="d-none d-lg-flex align-center link-wrapper" href="tel: +7(928)210-90-60">
      <div class="header__circle flex align-center justify-center relative icon bg-second gradient color-white text-32 radius-max mr-3">
        <span class="header__shadow d-none icon absolute bg-white text-32 fade-20 radius-max"></span>
        <svg class="icon relative text-20">
          <use xlink:href="img/icons.svg#tel">
        </svg>
      </div>
      <div class="flex flex-column">
        <span class="text-14 bold-5 fade-60 mb-1">Телефон</span>
        <span class="link text-14 bold-7">+7(928)210-90-60</span>
      </div>
    </a>
    <button class="btn btn--second btn--lg btn--contur btn--swipe color-black overflow-hidden" data-waved data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-consultation.html">
      <span class="header__btn-text header__btn-text--1">Записаться на консультацию</span>
      <span class="header__btn-text header__btn-text--2">Консультация</span>
    </button>
  </header>

  <!-- Навигация -->

  <% var nav = [
    {
      id: 'result',
      name: 'Результаты работы'
    },
    {
      id: 'stages',
      name: 'О лечении'
    },
    {
      id: 'advantages',
      name: 'Преимущества'
    },
    {
      id: 'price',
      name: 'Цены на услуги'
    },
    {
      id: 'reviews',
      name: 'Отзывы'
    },
    {
      id: 'personal',
      name: 'Врачи'
    },
    {
      id: 'questions',
      name: 'Вопрос-ответ'
    },
    {
      id: 'contacts',
      name: 'Контакты'
    }
  ] %>

  <nav class="nav container d-none d-lg-flex align-center justify-between sticky zi-3 bg-white py-3">
    <% for (var i = 0; i < nav.length; i++) { %>
      <a class="btn btn--second link color-black radius-2 bold-4 py-2 px-1" data-waved data-scroll="top" href="#<%= nav[i].id %>"><%= nav[i].name %></a>
    <% } %>
  </nav>

  <!-- Мобильное меню -->

  <section class="mobile fixed zi-6 w-100 h-100 ease duration-1" data-mobile="hidden">
    <div class="mobile__content flex flex-column overflow-auto w-100 h-100 ease duration-3">
      <div class="mobile__head flex align-center relative bg-white border-bottom p-4 ease duration-5 delay-3">
        <button class="btn text-50 color-primary mr-10" data-mobile-close>
          <svg class="icon">
            <use xlink:href="img/icons.svg#close">
          </svg>
        </button>
        <a class="btn btn--second color-primary text-50 radius-1" data-waved href="/">
          <svg class="icon mr-3">
            <use xlink:href="img/icons.svg#logo">
          </svg>
          <span class="text text--uppercase text--left text-10 bold-6 lh-4">
            ЦЕНТР <br>
            Профессиональной<br>
            Стоматологии
          </span>
        </a>
      </div>
      <div class="mobile__nav flex flex-column gap-5 relative py-8 px-4 ease duration-9 delay-5">
        <% for (var i = 0; i < nav.length; i++) { %>
          <a class="link text-18 bold-4 w-max" data-scroll="top" href="#<%= nav[i].id %>"><%= nav[i].name %></a>
        <% } %>
      </div>
      <div class="mobile__footer relative mt-auto px-4 pt-4 pb-10 ease duration-5 delay-9">
        <div class="flex flex-column gap-5">
          <div class="flex align-center">
            <div class="flex align-center justify-center icon bg-second gradient color-white text-40 radius-max mr-3">
              <svg class="icon text-26">
                <use xlink:href="img/icons.svg#geo">
              </svg>
            </div>
            <div class="flex flex-column">
              <span class="text-16 bold-5 fade-60 mb-1">Адрес</span>
              <span class="text-16 bold-6">ул. Минская 122/9</span>
            </div>
          </div>
          <div class="flex align-center">
            <div class="flex align-center justify-center icon bg-second gradient color-white text-40 radius-max mr-3">
              <svg class="icon text-26">
                <use xlink:href="img/icons.svg#clock">
              </svg>
            </div>
            <div class="flex flex-column">
              <span class="text-16 bold-5 fade-60 mb-1">Режим работы</span>
              <span class="text-16 bold-6">с 8:00 до 20:00</span>
            </div>
          </div>
          <a class="flex align-center link-wrapper" href="tel: +7(928)210-90-60">
            <div class="flex align-center justify-center icon bg-second gradient color-white text-40 radius-max mr-3">
              <svg class="icon text-26">
                <use xlink:href="img/icons.svg#tel">
              </svg>
            </div>
            <div class="flex flex-column">
              <span class="text-16 bold-5 fade-60 mb-1">Телефон</span>
              <span class="link text-16 bold-6">+7(928)210-90-60</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>