<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="autor" content="Студия КИТ"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
  <title><%= data.title %></title>
</head>
<body>

  <!-- Шапка документа -->

  <header class="header container flex align-center justify-between gap-3 gap-md-5 zi-3 bg-white border-bottom py-2 py-md-3 py-lg-6 linear duration-3" data-header>
    <button class="btn btn--primary d-lg-none text-44 radius-1" data-burger data-waved>
      <svg class="icon">
        <use xlink:href="img/icons.svg#burger">
      </svg>
    </button>
    <a class="btn btn--second color-primary text-24 text-md-30 radius-1" data-waved href="/">
      <svg class="icon zoom-2 mr-md-3">
        <use xlink:href="img/icons.svg#logo">
      </svg>
      <span class="d-none d-md-inline text text--uppercase text--left text-12 bold-6 lh-4">
        ЦЕНТР <br>
        Профессиональной<br>
        Стоматологии
      </span>
    </a>
    <div class="d-none d-lg-flex align-center">
      <div class="flex align-center justify-center icon bg-second gradient color-white text-32 radius-max mr-3">
        <svg class="icon text-20">
          <use xlink:href="img/icons.svg#geo">
        </svg>
      </div>
      <div class="flex flex-column">
        <span class="text-14 bold-5 fade-60 mb-1">Адрес</span>
        <span class="text-14 bold-7">ул. Минская 122/9</span>
      </div>
    </div>
    <div class="d-none d-lg-flex align-center">
      <div class="flex align-center justify-center icon bg-second gradient color-white text-32 radius-max mr-3">
        <svg class="icon text-20">
          <use xlink:href="img/icons.svg#clock">
        </svg>
      </div>
      <div class="flex flex-column">
        <span class="text-14 bold-5 fade-60 mb-1">Режим работы</span>
        <span class="text-14 bold-7">с 8:00 до 20:00</span>
      </div>
    </div>
    <a class="d-none d-lg-flex align-center link-wrapper" href="tel: +7(928)210-90-60">
      <div class="flex align-center justify-center icon bg-second gradient color-white text-32 radius-max mr-3">
        <svg class="icon text-20">
          <use xlink:href="img/icons.svg#tel">
        </svg>
      </div>
      <div class="flex flex-column">
        <span class="text-14 bold-5 fade-60 mb-1">Телефон</span>
        <span class="link text-14 bold-7">+7(928)210-90-60</span>
      </div>
    </a>
    <button class="btn btn--second btn--lg btn--contur btn--swipe color-black overflow-hidden" data-waved>
      <span class="header__btn-text header__btn-text--1">Записаться на консультацию</span>
      <span class="header__btn-text header__btn-text--2">Консультация</span>
    </button>
  </header>

  <!-- Навигация -->

  <% var nav = ['Результаты работы', 'Как записаться', 'О лечении', 'Цены на услуги', 'Отзывы', 'Врачи', 'Вопрос-ответ', 'Контакты'] %>

  <nav class="nav container d-none d-lg-flex align-center justify-between sticky zi-3 bg-white py-3">
    <% for (var i = 0; i < nav.length; i++) { %>
      <a class="btn btn--second link color-black radius-2 bold-4 py-2 px-1" data-waved data-scroll="top" href="#"><%= nav[i] %></a>
    <% } %>
  </nav>

  <!-- Мобильное меню -->

  <section class="mobile fixed zi-6 w-100 h-100 ease duration-1" data-mobile="hidden">
    <div class="mobile__content flex flex-column overflow-auto w-100 h-100 ease duration-3">
      <div class="mobile__head flex align-center relative bg-white border-bottom p-4 ease duration-5 delay-3">
        <button class="btn text-24 mr-10" data-mobile-close>
          <svg class="icon">
            <use xlink:href="img/icons.svg#close">
          </svg>
        </button>
        <a class="btn btn--second color-primary text-50 radius-1" data-waved href="/">
          <svg class="icon mr-3">
            <use xlink:href="img/icons.svg#logo">
          </svg>
          <span class="text text--uppercase text--left text-10 bold-6 lh-4">
            ЦЕНТР <br>
            Профессиональной<br>
            Стоматологии
          </span>
        </a>
      </div>
      <div class="mobile__nav flex flex-column gap-5 relative py-8 px-4 ease duration-9 delay-5">
        <% for (var i = 0; i < nav.length; i++) { %>
          <a class="link text-18 bold-4 w-max" data-scroll="top" href="#"><%= nav[i] %></a>
        <% } %>
      </div>
      <div class="mobile__footer relative mt-auto px-4 pt-4 pb-10 ease duration-5 delay-9">
        <div class="flex flex-column gap-5">
          <div class="flex align-center">
            <div class="flex align-center justify-center icon bg-second gradient color-white text-40 radius-max mr-3">
              <svg class="icon text-26">
                <use xlink:href="img/icons.svg#geo">
              </svg>
            </div>
            <div class="flex flex-column">
              <span class="text-16 bold-5 fade-60 mb-1">Адрес</span>
              <span class="text-16 bold-6">ул. Минская 122/9</span>
            </div>
          </div>
          <div class="flex align-center">
            <div class="flex align-center justify-center icon bg-second gradient color-white text-40 radius-max mr-3">
              <svg class="icon text-26">
                <use xlink:href="img/icons.svg#clock">
              </svg>
            </div>
            <div class="flex flex-column">
              <span class="text-16 bold-5 fade-60 mb-1">Режим работы</span>
              <span class="text-16 bold-6">с 8:00 до 20:00</span>
            </div>
          </div>
          <a class="flex align-center link-wrapper" href="tel: +7(928)210-90-60">
            <div class="flex align-center justify-center icon bg-second gradient color-white text-40 radius-max mr-3">
              <svg class="icon text-26">
                <use xlink:href="img/icons.svg#tel">
              </svg>
            </div>
            <div class="flex flex-column">
              <span class="text-16 bold-5 fade-60 mb-1">Телефон</span>
              <span class="link text-16 bold-6">+7(928)210-90-60</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>