// Карточка
.card {
  display         : flex;
  flex-direction  : column;
  position        : relative;
  background-color: var(--color-white);
  border-radius   : 32px;
  border          : 1px solid var(--color-gray);
  transition      : box-shadow 0.2s ease;
  overflow        : hidden;

  &-content {
    display       : flex;
    flex-direction: column;
    flex-grow     : 1;
  }

  @media(hover) {
    &:hover {
      box-shadow: 8px 8px 4px var(--color-black-20);
    }
  }
}