// Полоса прокрутки
* {
  scrollbar: {
    width: thin;
    color: var(--color-second-light) var(--color-grey);
  }

  &::-webkit-scrollbar {
    @media(pointer: fine) {
      width: 14px;

      &-track {
        background-color: var(--color-grey);

        &-piece {
          margin-block: 8px;
        }
      }

      &-thumb {
        background-color: var(--color-second-light);

        border: {
          width : 4px;
          style : solid;
          color : var(--color-grey);
          radius: 8px;
        }
      }

      &-corner {
        background-color: var(--color-grey);
      }
    }
  }
}