<% var data = {

  title: 'Центр профессиональной стоматологии',
  status: true

} %>

<%= _.template(require('./includes/header.html').default)({data}) %>

<!-- Главный блок -->

<main class="main container container--sm container--distance flex align-center justify-between bg-grey overflow-hidden pt-0 pb-lg-0 mt-0">
  <div class="main__content order-2 order-lg-1 flex flex-column relative zi-1 w-100">
    <h1 class="font-alt text-26 text-md-36 text-lg-42 bold-7 lh-2 mb-3 mb-md-7">
      Имплантация зубов ALL-ON-4 в Краснодаре
    </h1>
    <p class="main__text text-14 text-md-16 text-lg-18 bold-4 lh-4 fade-70 mb-5 mb-md-10">
      Установите зубные импланты всего за 3 дня
      без боли и костной пластики.
    </p>
    <div class="flex align-center pt-lg-5 mb-5 mb-md-9">
      <div class="flex flex-column align-center justify-center mr-5">
        <img class="icon text-46 mb-1" src="img/pictures/implant.svg" alt="">
        <span class="main__shadow bg-black fade-10 radius-2 w-100 pb-1"></span>
      </div>
      <h3 class="font-alt text-16 text-md-18 text-lg-20 bold-8 lh-2">
        Нужны наши услуги? <br class="d-none d-md-block">Оставьте заявку!
      </h3>
    </div>
    <form class="main__form form flex-wrap flex-row align-center gap-5 gap-md-2" data-form="submit">
      <label class="form-label w-100 w-md-auto" data-label="input">
        <div class="form-wrapper">
          <div class="input-cover">
            <input class="input" data-input="tel" type="tel" placeholder="+7 (_ _ _) _ _ _ - _ _ - _ _" name="tel">
          </div>
          <span class="form-error anim anim--fade" data-error>Пожалуйста, введите ваш номер!</span>
        </div>
      </label>
      <button class="btn btn--second btn--lg btn--fill gradient" data-waved type="submit">Отправить</button>
    </form>
  </div>
  <div class="main__block order-1 order-lg-2 relative pointer-none w-100 h-100 mb-10 mb-lg-0">
    <div class="main__pack main__pack--1 pack pack--rect absolute w-100 linear duration-3" data-parallax="scroll" data-parallax-depth="2" data-reverse>
      <picture>
        <source srcset="img/pictures/review-1.webp" type="image/webp">
        <img class="image" src="img/pictures/review-1.png" alt="">
      </picture>
    </div>
    <div class="main__pack main__pack--2 pack pack--rect absolute w-100 linear duration-3" data-parallax="scroll" data-parallax-depth="2">
      <picture>
        <source srcset="img/pictures/review-2.webp" type="image/webp">
        <img class="image" src="img/pictures/review-2.png" alt="">
      </picture>
    </div>
    <div class="pack pack--photo w-100 h-100">
      <div class="loader">
        <span class="loader-progress">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#loader">
          </svg>
        </span>
      </div>
      <picture>
        <source srcset="img/pictures/client.webp" type="image/webp">
        <img class="image image--sd image--br" src="img/pictures/client.png" alt="">
      </picture>
    </div>
    <div class="main__item main__item--1 flex align-center justify-between absolute zi-1 bg-white shadow-box overflow-hidden w-100 py-4 pl-4 pr-4 pl-md-10 py-md-2 pr-md-2 linear duration-3" data-parallax="scroll" data-parallax-depth="2" data-reverse>
      <h4 class="font-alt text text--uppercase text-10 text-md-16 bold-8 lh-3 mr-md-3">
        Установка <br>имплантатов <br>без боли
      </h4>
      <div class="main__circle main__circle--1 d-none d-md-block pack pack--box bg-grey radius-max">
        <picture>
          <source srcset="img/pictures/teeth-1.webp" type="image/webp">
          <img class="image image--sd" src="img/pictures/teeth-1.png" alt="">
        </picture>
      </div>
    </div>
    <div class="main__item main__item--2 flex align-center justify-between absolute zi-1 color-white shadow-box overflow-hidden w-100 py-4 pl-4 pr-4 pl-md-10 py-md-2 pr-md-2 linear duration-3" data-parallax="scroll" data-parallax-depth="2">
      <h4 class="font-alt text text--uppercase text-10 text-md-16 bold-8 lh-3 mr-md-3">
        Результат <br>за 3 дня
      </h4>
      <div class="main__circle main__circle--2 d-none d-md-block pack pack--box">
        <picture>
          <source srcset="img/pictures/teeth-2.webp" type="image/webp">
          <img class="image image--sd" src="img/pictures/teeth-2.png" alt="">
        </picture>
      </div>
    </div>
  </div>
</main>

<%= require('./includes/footer.html').default %>