// Главный блок
.main {
  min-height: 730px;

  &__content {
    max-width: 520px;
  }

  &__shadow {
    filter: blur(2px);
  }

  &__block {
    max-width: 600px;
  }

  &__pack {
    &--1 {
      max-width: 270px;
      top      : 200px;
      left     : 30px;
    }

    &--2 {
      max-width: 260px;
      top      : 110px;
      right    : -25px;
    }
  }

  &__item {
    max-width    : 320px;
    height       : 140px;
    border-radius: 100px;

    &--1 {
      bottom: 44px;
      left  : -66px;
    }

    &--2 {
      border         : 2px solid var(--color-white-40);
      backdrop-filter: blur(15px);
      bottom         : 157px;
      right          : -30px;
    }
  }

  &__circle {
    &--1 {
      min-width: 125px;
      width    : 125px;
    }

    &--2 {
      min-width: 185px;
      width    : 185px;
    }
  }

  @media(min-width: $xl) {
    &__text {
      max-width: 400px;
    }
  }

  @media(max-width: $xl) {
    &__content {
      max-width: 380px;
    }

    &__item {

      &--1 {
        left: 10px;
      }

      &--2 {
        right: -70px;
      }
    }
  }

  @media(max-width: $lg) {
    & {
      flex-direction: column;
    }

    &__content {
      max-width: 600px;
    }

    &__block {
      &::after {
        content   : "";
        position  : absolute;
        bottom    : -50px;
        left      : 0;
        right     : 0;
        width     : 100%;
        height    : 130px;
        background: linear-gradient(0deg, var(--color-grey) 40%, var(--color-none) 100%);
      }
    }

    &__item {
      &--2 {
        border          : none;
        backdrop-filter : blur(0);
        color           : var(--color-black);
        background-color: var(--color-white);
      }
    }
  }

  @media(max-width: $md) {
    &__pack {
      max-width: 180px;

      &--1 {
        left: 0;
      }
    }

    &__item {
      border-radius   : 50%;
      max-width       : 110px;
      height          : 110px;
      justify-content : center;
      color           : var(--color-white);
      background-color: var(--color-second);

      &--1 {
        left: 0;
      }

      &--2 {
        right: 0;
      }
    }
  }

  @media(max-width: $sm) {
    &__pack {
      max-width: 150px;

      &--1 {
        top: 130px;
      }

      &--2 {
        top: 50px;
      }
    }
  }
}