// Главный блок
.main {
  min-height: 730px;

  &__content {
    max-width: 520px;
  }

  &__shadow {
    filter: blur(2px);
  }

  &__block {
    max-width: 600px;
  }

  &__input {
    &:first-of-type {
      border: {
        top-left-radius: 100px;
        bottom-left-radius: 100px;
      }
    }

    &:last-of-type {
      border: {
        top-right-radius: 100px;
        bottom-right-radius: 100px;
      }
    }
  }

  &__info {
    max-width: 410px;
    background-color: #FFEBCE;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 50px;
      height: 100%;
      background-color: #FFAE68;
      filter: blur(41px);
      transform: rotate(-45deg);
    }
  }

  &__coins {
    max-width: 54px;
  }

  &__free {
    color: #b56833;
  }

  &__pack {
    &--1 {
      max-width: 270px;
      top: 200px;
      left: 30px;
    }

    &--2 {
      max-width: 260px;
      top: 110px;
      right: -25px;
    }
  }

  &__tree {
    max-width: none;
    width: 850px;
    bottom: 0;
    left: 80px;
  }

  &__item {
    max-width: 320px;
    height: 140px;
    border-radius: 100px;

    &--1 {
      bottom: 44px;
      left: -66px;
    }

    &--2 {
      border: 2px solid var(--color-white-40);
      backdrop-filter: blur(15px);
      bottom: 157px;
      right: -30px;
    }
  }

  &__circle {
    &--1 {
      min-width: 125px;
      width: 125px;
    }

    &--2 {
      min-width: 185px;
      width: 185px;
    }
  }

  @media(min-width: $xl) {
    &__text {
      max-width: 400px;
    }
  }

  @media(max-width: $xl) {
    &__content {
      max-width: 380px;
    }

    &__item {

      &--1 {
        left: 10px;
      }

      &--2 {
        right: -70px;
      }
    }
  }

  @media(max-width: $lg) {
    & {
      flex-direction: column;
    }

    &__content {
      max-width: 600px;
    }

    &__block {
      &::after {
        content: "";
        position: absolute;
        bottom: -50px;
        left: 0;
        right: 0;
        width: 100%;
        height: 130px;
        background: linear-gradient(0deg, var(--color-grey) 40%, var(--color-none) 100%);
      }
    }

    &__item {
      &--2 {
        border: none;
        backdrop-filter: blur(0);
        color: var(--color-black);
        background-color: var(--color-white);
      }
    }
  }

  @media(max-width: $md) {
    &__pack {
      max-width: 180px;

      &--1 {
        left: 0;
      }
    }

    &__item {
      border-radius: 50%;
      max-width: 110px;
      height: 110px;
      justify-content: center;
      color: var(--color-white);
      background-color: var(--color-second);

      &--1 {
        left: 0;
      }

      &--2 {
        right: 0;
      }
    }
  }

  @media(max-width: $sm) {
    &__pack {
      max-width: 150px;

      &--1 {
        top: 130px;
      }

      &--2 {
        top: 50px;
      }
    }
  }
}

// Квиз
.quiz {
  background-image: linear-gradient(253.69deg, rgba(174, 99, 46, 0.2) 0%, var(--color-none) 61.32%);

  &__bg {
    mix-blend-mode: soft-light;
  }

  &-slider {
    background-image: radial-gradient(98.48% 326.98% at 0% 3.35%, var(--color-white-10) 0%, var(--color-white-10) 100%);
    border: 2px solid var(--color-white-20);

    &[data-quiz="stop"] .swiper-button-next {
      pointer-events: none;
      opacity: 0.5;
    }

    &[data-quiz-end] &-btns {
      display: none;
    }

    &[data-quiz-end] &-submit {
      display: flex;
    }
  }

  &__label {
    background-color: var(--color-white-80);
  }

  &__btn {
    left: 0;
    right: 0;
  }

  &__person {
    width: 70px;
    background-color: #EFDCCF;
  }

  &__circle {
    width: 360px;
    height: 360px;
    background: linear-gradient(253.69deg, var(--color-white-20) 0%, var(--color-none) 61.32%), rgba(254, 202, 204, 0.6);
  }

  &__info {
    background: radial-gradient(98.48% 326.98% at 0% 3.35%, var(--color-white-10) 0%, var(--color-white-10) 100%);
    border: 2px solid var(--color-white-20);
  }

  &__image {
    max-width: 325px;
    background-image: linear-gradient(180deg, var(--color-black-10) 0%, var(--color-none) 100%);
  }

  &__result {
    background: radial-gradient(98.48% 326.98% at 0% 3.35%, var(--color-white-10) 0%, var(--color-white-10) 100%);
    border: 2px solid var(--color-white-20);
    min-height: 580px;
  }

  @media(hover) {
    &__label:hover {
      background-color: var(--color-white);
    }
  }

  @media(min-width: $xl) {
    &__subtitle {
      font-size: var(--text-34);
    }

    &__success {
      font-size: calc(2 * var(--text-40));
    }
  }

  @media(max-width: $xl) {
    &__circle {
      width: 300px;
      height: 300px;
    }
  }

  @media(max-width: $lg) {
    &__bg {
      border-radius: 0;
    }

    &__pack {
      &::before {
        padding-top: 50%;
      }
    }

    &__result {
      min-height: 400px;
    }
  }
}

// Результат
.result {
  &-slide {
    border: 2px solid var(--color-grey);
  }

  &__pack {
    &--1 {
      border-radius: 32px 0 0 32px;
    }

    &--2 {
      border-radius: 0 32px 32px 0;
    }
  }

  &__circle {
    width: 100px;
    height: 100px;
    left: 16px;
    bottom: 16px;
  }

  @media(max-width: $md) {
    &__pack {
      border-radius: 32px;
    }

    &__circle {
      width: 70px;
      height: 70px;
      left: 8px;
      bottom: 8px;
    }
  }
}

// Этапы
.stages {
  background: linear-gradient(253.69deg, var(--color-white-20) 0%, var(--color-none) 61.32%), #FAE8D2;

  &__item {
    border: 1px solid var(--color-white-60);

    &--light {
      background-image: radial-gradient(98.48% 326.98% at 0% 3.35%, var(--color-white-60) 20.83%, var(--color-white-20) 100%);
    }
  }

  &__content {
    max-width: 275px;
    border: 1px solid var(--color-white-60);
    background-color: var(--color-white-40);
    box-shadow: 0px 5px 80px var(--color-black-10);
  }

  &__circle {
    width: 130px;
    height: 130px;
    top: -50px;
    left: -42px;
  }

  &__number {
    border: 1px solid var(--color-second);
  }

  &__block {
    background-image: linear-gradient(253.69deg, rgba(174, 99, 46, 0.4) 0%, var(--color-none) 61.32%);
  }

  &__elem {
    background: linear-gradient(253.69deg, rgba(213, 141, 92, 0.4) 0%, var(--color-none) 61.32%), #F5D8B6;
  }

  &__year {
    min-width: 130px;
    width: 130px;
    height: 90px;
  }

  @media(min-width: $md) {
    &-wrapper {
      transform: none !important;
    }
  }

  @media(max-width: $xl) {
    &__br {
      display: block;
    }

    &__item br {
      display: none;
    }
  }

  @media(max-width: $md) {
    &__item {
      flex-direction: column;
    }

    &__content {
      max-width: 100%;
    }

    &__year {
      min-width: 90px;
      width: 90px;
      height: 70px;
    }
  }
}

// Выбор
.choice {
  &__content {
    max-width: 470px;
  }

  &__block {
    max-width: 620px;
    height: 560px;
  }

  &__pack {
    max-width: 400px;
  }

  &__item {
    &--top {
      top: -200px;
    }

    &--bottom {
      bottom: -200px;
    }
  }

  @media(max-width: $xl) {
    & {
      flex-direction: column;
      align-items: center;
    }

    &__content,
    &__block {
      max-width: 650px;
    }
  }

  @media(max-width: $lg) {
    &__item {
      &--top {
        top: -280px;
      }

      &--bottom {
        bottom: -280px;
      }
    }
  }

  @media(max-width: $md) {
    &__block {
      height: 460px;
    }
  }
}

// Цена
.price {
  background-image: linear-gradient(253.69deg, rgba(174, 99, 46, 0.2) 0%, var(--color-none) 61.32%);

  &__dashed {
    border-bottom: 1px dashed var(--color-black);
  }

  &__text {
    min-width: max-content;
  }

  @media(min-width: $lg) {
    &__content {
      max-width: 510px;
    }
  }
}

// Условия
.conditions {
  &__bg {

    &::before,
    &::after {
      content: "";
      position: absolute;
      inset: 0;
    }

    &::before {
      background-image: linear-gradient(180deg, var(--color-none) 45.01%, rgba(13, 6, 1, 0.9) 82.29%);
    }

    &::after {
      background-image: linear-gradient(180deg, var(--color-none) 87.32%, var(--color-second-80) 121.89%);
    }
  }

  &__pack {
    &::before {
      padding-top: 90%;
    }
  }

  &__block {
    background: linear-gradient(253.69deg, rgba(213, 141, 92, 0.6) 0%, rgba(174, 99, 46, 0) 61.32%), #F5BA77;
  }

  &__content {
    background-image: linear-gradient(136.65deg, var(--color-white-40) 38.83%, var(--color-none) 81.79%);
    backdrop-filter: blur(15px);
  }

  &__info {
    max-width: 600px;
  }

  &__image {
    max-width: 500px;

    &::before {
      padding-top: 40%;
    }
  }

  @media(max-width: $xl) {
    &__bg br {
      display: none;
    }
  }

  @media(max-width: $lg) {
    &__pack {
      &::before {
        padding-top: 70%;
      }
    }

    &__content {
      flex-direction: column;
      align-items: flex-start;
    }

    &__info {
      max-width: 100%;
    }

    &__image {
      max-width: 400px;
    }
  }

  @media(max-width: $md) {
    &__pack {
      &::before {
        padding-top: 90%;
      }
    }

    &__image {
      max-width: 100%;
      border-radius: 12px;
    }
  }

  @media(max-width: $sm) {
    &__pack {
      &::before {
        padding-top: 120%;
      }
    }

    &__bg {
      background-image: linear-gradient(180deg, var(--color-none) 25.01%, rgba(13, 6, 1, 0.9) 82.29%);
    }
  }
}

// Отзывы
.reviews {
  &__card {
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-image: linear-gradient(180deg, var(--color-none) 77.56%, var(--color-white) 96.65%);
      pointer-events: none;
    }
  }

  &__circle {
    width: 125px;
    height: 125px;
    border: 2px solid var(--color-second);
  }

  &__items {
    height: 300px;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    border: 1px solid var(--color-black-20);
  }

  &__value {
    background-color: var(--color-green-light-20);
  }

  @media(max-width: $md) {
    &__pack {
      &::before {
        padding-top: 30%;
      }
    }
  }
}

// Персонал
.personal {
  &__pack {
    background-image: linear-gradient(180deg, var(--color-black-10) 0%, var(--color-none) 100%);
    max-width: 300px;
  }

  @media(min-width: $md) and (hover) {
    &__text {
      visibility: hidden;
      opacity: 0;
    }
  }

  @media(hover) {
    &-slide:hover &__pack {
      transform: scale(1.1);
    }

    &-slide:hover &__text {
      visibility: visible;
      opacity: 1;
    }
  }

  @media(max-width: $md) {
    &__pack {
      max-width: 200px;
    }
  }
}

// Вопросы
.questions {
  &__items {
    border-top: 1px solid var(--color-black-20);
  }

  &__item {
    border-bottom: 1px solid var(--color-black-20);
  }

  &__item[data-accordion="active"] &__arrow {
    transform: rotate(-90deg);
  }

  &__pack {
    background-image: linear-gradient(180deg, var(--color-white-60) 0%, var(--color-none) 100%);
  }
}

// Галерея
.gallery {
  &-wrapper {
    transition-timing-function: linear !important;
  }

  @media(max-width: $md) {
    & {
      padding-bottom: 0;
    }

    &__pack {
      border-radius: 12px;
    }
  }
}